[packages]
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jupyterlab = "*"
loguru = "*"
matplotlib = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pip = "*"
pytest = "*"
python-dotenv = "*"
scikit-learn = "*"
tqdm = "*"
typer = "*"
dvc = "*"
mlflow = "*"
"mlops_proyecto" ={editable = true, path = "."}

[requires]
python_version = "3.11"